body{
    font-family: 'Otomanopee One', sans-serif;
font-family: 'Staatliches', cursive;
font-family: 'Tourney', cursive;
}
h1{font-size: 50px;}
.Jubayer-color{
    color: orangered;
}
.headline{color:lightsalmon}
.flexible{display: flex;}

.button{text-decoration: none;
background-image:linear-gradient(orange, orangered);
padding: 10px 5px;
color: white;
font-weight: 400;
border-radius: 2px;
}
.mergin{padding-left: 50px;
margin: 20px;
background-image: url(images/top-banner.png);
background-repeat: no-repeat;
}
.topimg img{width: 600px;}
.size{ background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.isize{width: 50%;}
.isize img{width: 80%;}
.sboxa{
    width: 50%;
    margin-left: 5%;
    margin-right: 10%;
padding: 5%;
   background-image: url(images/exp-bg.png);
   background-repeat: no-repeat;


height: 200px;
}


   
